:root {
    // font family
    --ff-bai-jamjuree: 'Bai Jamjuree', sans-serif;

    // colors
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    --d-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);

    // border-bottom
    --strong-cyan-bb: hsl(171, 66%, 34%) 3px solid;
    --light-blue-bb: hsl(233, 50%, 51%) 3px solid;

    // hover
    --strong-cyan-hover: hsl(171, 66%, 54%);
    --light-blue-hover: hsl(233, 100%, 74%);
}